<form class="searchForm" action="/search" method="post">
    <input class="searchItem__box" type="text" name="search" placeholder="Search Artists">
    <input class="form__item submit" type="submit" name="submit">
</form>
<br>
<% @search.each do |song| %>
	Title <%= song["songtitle"] %>
	Artist <%= song["name"] %>
	Album <%= song["albumtitle"] %>
	Genre <%= song["genre"] %>
	Rating <%= song["rating"] %>
	Length <%= song["length"] %>
	<form action="/songs" method="post">
		<button type="submit" value="<%= song["id"] %>" name="delete" class="delete">Delete</button>
	</form>
	<br>
<% end %>

